<div class="jumbotron jumbotron-fluid" id="prefooter" style="height: 200px; padding-bottom: 20px; margin-bottom: 0; background-color: black; color: white;">
    <!-- background-image: url({{url_for('static',filename='images/footer_1.jpg')}}); background-size: 100% 100%; -->
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="col-md-12">
                    <p></p>
                </div>
                <div class="col-md-12">
                    <p></p>
                </div>
                <img src="{{url_for('static',filename='images/logo.png')}}" width ="200px">
            </div>
            <div class="col-md-9">
                <div class="col-md-12">
                    <a> Chính sách </a>
                    <a> Điều khoản sử dụng</a>
                    <a> Đổi trả sản phẩm </a>
                </div>
                <div class="col-md-12">
                    <small>CÔNG TY TNHH MAE COSMETICS</small>
                </div>
                <div class="col-md-12">
                    <small>Email: maecosmetics@gmail.com</small>
                </div>
                <div class="col-md-12">
                    <small>&copy; copyright 2018 Mae Cosmetics </small>
                </div>
                <div class="col-md-12 social-icon">
                    <a style = "margin-right: 5px;"><i class="fab fa-facebook"></i></a>
                    <a><i class="fab fa-instagram"></i></a>

                </div>
            </div>
            
        </div>
    </div>

</div>
