<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<!-- <link rel="icon" href="{{url_for('static',filename = 'images/logo.png')}}" type="image/gif" sizes="16x16"> -->
<style>
    .navbar a {
        margin-left: 50px;
        color: black;
    }

    
    body {
        /* background-color: #C7ADF5; */
        background-color: white;
    }

    .nav-tabs li {
        margin-right: 10px;
    }
    .dropdown-menu a {
        color: black;
        margin: auto 0px;
    }

    .content {
        margin: 0px 0px;
        width: 100%;

    }

    .content a:link {
        color: black;
        text-decoration: none;
    }

    .content a:visited {
        color: black;
        text-decoration: none;

    }

    .content a:hover {
        color: #5516C0
    }

    .mo-ta img {
        height: 150px;

    }


    #prefooter a:link {
        color: black;
        text-decoration: none;
    }

    #prefooter a:visited {
        color: black;
        text-decoration: none;

    }

    #prefooter a:hover {
        color: #5516C0
    }

    #prefooter a {
        margin-right: 20px;
    }


    .carousel-control-next,
    .carousel-control-prev {
        filter: invert(100%);

    }
</style>




<script src ="{{url_for('static',filename = 'js/fontawesome.js')}}"></script>

<!-- <script src="https://kit.fontawesome.com/87d1385e4d.js" crossorigin="anonymous"></script> -->

