<div class="container-fluid">
    <div class="row">
        <nav class="d-flex justify--between navbar navbar-expand-lg navbar-light bg-light"
            style="width: 100%;">
            <a class="navbar-brand" href="/"><img width="150px" src="/static/images/logo.png" alt="logo"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav item text-center">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Sản phẩm
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            {%for category in danh_sach_category%}
                            <a class="dropdown-item {%if id == category.ma_loai%} active {%endif%}" href="/loai_{{category.ma_loai}}">&#9830; {{category.ten_loai}}
                                </a>
                            {% endfor %}
                        </div>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/cau-chuyen-cua-mae">Câu chuyện của Mae Cosmetics <i
                                class="fas fa-feather-alt"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/mae-beauty-blog">Beauty Cookbook by Mae</a>
                    </li>
                    {%if current_user.is_authenticated %}
                    <li class="nav-item dropdown">
                        
                        <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Xin chào, {{current_user.ten_dang_nhap}} <i class="fas fa-user-cog"></i>
                        </a>

                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="">Thông tin tài khoản</a>
                            <hr>
                            <a class="dropdown-item" href="/dang-xuat">Đăng xuất</a>
                            
                        </div>
                    </li>

                    {%else%}
                    <li class="nav-item">
                        <a class="nav-link" href="/dang-nhap">Đăng nhập <i class="fas fa-user"></i></a>
                    </li>
                    {%endif%}
                    <li class="nav-item">
                        <a class="nav-link" href="/xem-gio-hang">
                            {%if session['Gio_hang']|length > 0%}
                            <span class="badge badge-secondary" style="margin-right: 2px;">{{session['Gio_hang']|length}}</span>
                            Xem
                            {%endif%}
                        Giỏ hàng <i class="fas fa-cart-arrow-down"></i></a>
                    </li>
                    <!-- <li class="nav-item" style = "position: absolute; right: 10px;">
                        <form class = "form-inline"method='POST'>
                           
                            <input type="text" id="TimKiem" class="form-control" placeholder="Tìm kiếm sản phẩm">
     
                        </form>
                    </li> -->

                </ul>
            </div>
        </nav>
    </div>
</div>