{%extends 'layout/master_manage.html'%}
{%block content%}
<div class="container" style="position: relative; top: 50vh;">
    <form method="POST" action="{{url_for('cap_nhat_tu_API')}}">
    <div class="row">
        <div class="col-md-12 text-center">
            <button class="btn btn-success">Cập nhật danh sách đơn hàng</button>
        </div>
    </div>
    </form>
    <div class="row">
        <div class="col-md-12 text-center">
            Loading: {{loading}} %
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            {{thong_bao}}
        </div>
    </div>
</div>
{%endblock%}