{%extends 'layout/master_manage.html'%}
{%block content%}
<form method="POST" id="Xem_hoa_don">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/QL-don-hang">Quản lý đơn hàng</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">

                <button onclick="Th_hoa_don.value ='ChuaInHD';Xem_hoa_don.submit()" class="btn btn-success nav-item">Chưa in HĐ</button>
                <button onclick="Th_hoa_don.value ='DaInHD';Xem_hoa_don.submit()" class="btn btn-info nav-item">Đã in HĐ</button>
                <button onclick="Th_hoa_don.value ='Huy';Xem_hoa_don.submit()" class="btn btn-danger nav-item">Hủy</button>
                <button onclick="Th_hoa_don.value ='TheoMaHD';Xem_hoa_don.submit()" class="btn btn-dark nav-item">Theo mã đơn hàng</button>

                <input name="Th_hoa_don" type="hidden">



            </div>
        </div>
    </nav>
</form>

<div class="main" style="padding: 0 0; height: 100vh">
    <iframe src="{{dia_chi}}" style="border:none" width="100%" height="100%" style="margin:0px 0px;"></iframe>
    
</div>




{%endblock%}