{%extends 'layout/master_manage.html'%}
{%block content%}
<form method="POST" id="Xem_hoa_don">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/QL-don-hang">Quản lý kho hàng</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">

                <button onclick="Th_kho_hang.value ='NhapHang';Xem_hoa_don.submit()" class="btn btn-info nav-item">Nhập hàng</button>
                <button onclick="Th_kho_hang.value ='SoLuongTon';Xem_hoa_don.submit()" class="btn btn-info nav-item">Xem số lượng tồn</button>
                <input name="Th_kho_hang" type="hidden">



            </div>
        </div>
    </nav>
</form>

<div class="main" style="padding: 0 0; height: 100vh">
    <iframe src="{{dia_chi}}" style="border:none" width="100%" height="100%" style="margin:0px 0px;"></iframe>
    
</div>




{%endblock%}