{%extends 'layout/master.html'%}
{%block title%}Đơn hàng hoàn tất{%endblock%}
{%block content%}
<div class="container" style="background-color: white; margin: 30px auto; padding: 20px 20px; border-radius: 10px;">
    <div class="row text-center">
        <div class="col-md-12">
            <h2>Đơn hàng hoàn tất</h2>
        </div>
        <div class="col-md-12">
            <h4>Thông tin đơn hàng đã được gửi về email của bạn!</h4>
            <p>Cảm ơn bạn đã lựa chọn Mae Cosmetics!</p>
        </div>
        
        <div class="col-md-12">
            <a href="/tiep-tuc" class="btn" style="background-color: #8850EA; color: white; border-radius: 10px; border: none;">Tiếp tục mua sắm</a>
            
        </div>
    </div>
</div>

{%endblock%}